<li class="sidebar-toggle text-right hidden-xs">
    <span type="button" class="btn btn-primary btn-circle" id="sidebar-toggle-btn">
        <i class="fa fa-chevron-left"></i>
    </span>
</li>

<!--<li>-->
    <!--<a href="#"><i class="fa fa-dashboard fa-fw"></i> <span>仪表盘<i class="fa arrow"></i></span></a>-->
    <!--<ul class="nav nav-second-level">-->
        <!--<li><a href="#monitor/system"><span>系统监测</span></a></li>-->
        <!--<li><a href="#monitor/task"><span>任务总揽</span></a></li>-->
    <!--</ul>-->
<!--</li>-->

<li>
    <a href="#"><i class="fa fa-th-list fa-fw"></i> <span>任务管理<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li><a href="#task/list"><span>任务列表</span></a></li>
        <li><a href="#task/group_list"><span>任务分组</span></a></li>
        <li><a href="#task/log"><span>任务日志</span></a></li>
    </ul>
</li>


<!--<li>-->
    <!--<a href="#"><i class="fa fa-sitemap fa-fw"></i> <span>资源管理<i class="fa arrow"></i></span></a>-->
    <!--<ul class="nav nav-second-level">-->
        <!--<li><a href="#resources/server"><span>服务器</span></a></li>-->
    <!--</ul>-->
<!--</li>-->

<!--<li>-->
    <!--<a href="#"><i class="fa fa-users fa-fw"></i> <span>账户管理<i class="fa arrow"></i></span></a>-->
    <!--<ul class="nav nav-second-level">-->
        <!--<li><a href="#user/profile"><span>资料修改</span></a></li>-->
    <!--</ul>-->
<!--</li>-->

<li>
    <a href="#"><i class="fa fa-users fa-fw"></i> <span>权限管理<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li><a href="#auth/access_log_list"><span>行为日志</span></a></li>
        <li><a href="#auth/admin_list"><span>用户管理</span></a></li>
        <li><a href="#auth/group_list"><span>用户组管理</span></a></li>
        <li><a href="#auth/rule_list"><span>权限规则</span></a></li>
    </ul>
</li>
