<ul class="nav" id="sidebar-menu">
    <li class="sidebar-toggle text-right hidden-xs">
        <span type="button" class="btn btn-primary btn-circle" id="sidebar-toggle-btn"><i
                class="fa fa-chevron-left"></i></span>
    </li>
    <!--     <li>
            <a href="#"><i class="fa fa-dashboard fa-fw"></i> <span>Center</span></a>
        </li>
     -->

    <!--     <li>
            <a href="#tables"><i class="fa fa-table fa-fw"></i> <span>Tables</span></a>
        </li> -->

    <li>
        <a href="#contacts"><i class="fa fa-user fa-fw"></i> <span>联 系 人</span></a>
    </li>

    <li>
        <a href="#department"><i class="fa fa-sitemap fa-fw"></i> <span>组织部门</span></a>
    </li>


    <li>
        <a href="#process"><i class="fa fa-random fa-fw"></i> <span>审批流程</span></a>
    </li>

    <li>
        <a href="#patch"><i class="fa fa-table fa-fw"></i> <span>补交打卡</span></a>
    </li>

    <li>
        <a href="#test"><i class="fa fa-table fa-fw"></i> <span>test</span></a>
    </li>

    <li>
        <a><i class="fa fa-sitemap fa-fw"></i> 一级菜单 <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li>
                <a href="#">Second Level Item</a>
            </li>
            <li>
                <a href="#">Second Level Item</a>
            </li>
            <li>
                <a href="#">Third Level <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level collapse">
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                </ul>
                <!-- /.nav-third-level -->
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>

</ul>
