<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:(void 0)" title="导出打卡记录" id="clock-log">
        <i class="fa fa-file-text"></i>
    </a>
</li>

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:(void 0)" title="数据管理" id="db-manage">
        <i class="fa fa-recycle fa-fw"></i>
    </a>
</li>

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:(void 0)" title="管理员配置" id="admin">
        <i class="fa fa-user fa-fw"></i>
    </a>
</li>

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:(void 0)" title="考勤配置" id="config">
        <i class="fa fa-gear fa-fw"></i>
    </a>
</li>

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="/home/auth/logout" id="logout" title="退出登录" >
        <i class="fa fa-sign-out fa-fw"></i>
    </a>
</li>

||&&||
