<!--
<li class="sidebar-search">
    <div class="input-group custom-search-form">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <i class="fa fa-search"></i>
        </button>
    </span>
    </div>
</li> -->
<li class="sidebar-toggle text-right hidden-xs">
    <span type="button" class="btn btn-primary btn-circle" id="sidebar-toggle-btn">
        <i class="fa fa-chevron-left"></i>
    </span>
</li>

<!-- <li>
    <a href="#index"><i class="fa fa-dashboard fa-fw"></i> <span>Dashboard</span></a>
</li>
<li>
    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> <span>XXXXXXXX<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="flot.html"><span>xxxxxx</span></a>
        </li>
        <li>
            <a href="morris.html"><span>xxxxxx</span></a>
        </li>
    </ul>
</li>
<li>
    <a href="#tables"><i class="fa fa-table fa-fw"></i> <span>Tables</span></a>
</li>
 -->

<li>
    <a href="#"><i class="fa fa-dashboard fa-fw"></i> <span>XXXXXXXX<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#statistics/dashboard"><span>xxxxxx</span></a>
        </li>
        <li>
            <a href="#statistics/location"><span>xxxxxx</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#"><i class="fa fa-users fa-fw"></i> <span>XXXXXXXX<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#user/list"><span>xxxxxx</span></a>
        </li>
        <li>
            <a href="#user/daren_list"><span>xxxxxx</span></a>
        </li>
        <li>
            <a href="#user/star_daren_list"><span>xxxxxx</span></a>
        </li>
        <!--<li>-->
            <!--<a href="#user/group"><span>xxxxxx</span></a>-->
        <!--</li>-->
    </ul>
</li>

<li>
    <a href="#"><i class="fa fa-location-arrow fa-fw"></i> <span>XXXXXXXX<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#activity/list"><span>xxxxxx</span></a>
        </li>
        <li>
            <a href="#activity/list/star"><span>xxxxxx</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#"><i class="fa fa-sitemap fa-fw"></i> <span>XXXXXXXX<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#business/list"><span>xxxxxx</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#"><i class="fa fa-th-list fa-fw"></i> <span>XXXXXXXX<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#dynamic/list"><span>xxxxxx</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#"><i class="fa fa-shopping-cart fa-fw"></i> <span>XXXXXXXX<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#goods/list"><span>xxxxxx</span></a>
        </li>
        <!-- <li>
            <a href="#goods/sort"><span>xxxxxx</span></a>
        </li> -->
    </ul>
</li>

<li>
    <a href="#"><i class="fa fa-reorder fa-fw"></i> <span>XXXXXXXX<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#order/exchange_goods"><span>xxxxxx</span></a>
        </li>
        <li>
            <a href="#order/recharge_gold"><span>xxxxxx</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#"><i class="fa fa-gamepad fa-fw"></i> <span>XXXXXXXX<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#pk/list"><span>xxxxxx</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#"><i class="fa fa-adn fa-fw"></i> <span>XXXXXXXX<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#ad/list"><span>xxxxxx</span></a>
        </li>
    </ul>
</li>


<li>
    <a href="#"><i class="fa fa-bell fa-fw"></i> <span>XXXXXXXX<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li><a href="#message/report_user_list"><span>xxxxxx</span></a></li>
        <li><a href="#message/batch_message"><span>xxxxxx</span></a></li>        
    </ul>
</li>

<li>
    <a href="#"><i class="fa fa-user fa-fw"></i> <span>XXXXXXXX<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#admin/list"><span>xxxxxx</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#"><i class="fa fa-list-alt fa-fw"></i> <span>XXXXXXXX<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#log/gold"><span>xxxxxx</span></a>
        </li>
        <li>
            <a href="#log/im_msg"><span>xxxxxx</span></a>
        </li>
        <li>
            <a href="#log/queue_sms"><span>xxxxxx</span></a>
        </li>
        <!-- <li>
            <a href="#log/money"><span>xxxxxx</span></a>
        </li>
        <li>
            <a href="#log/recharge"><span>xxxxxx</span></a>
        </li> -->
    </ul>
</li>

<!-- <li>
    <a href="#crontab"><i class="fa fa-table fa-fw"></i> <span>计划任务</span></a>
</li> -->

<!-- 
<li>
    <a href="#user"><i class="fa fa-table fa-fw"></i> <span>用户管理</span></a>
</li>

<li>
    <a href="forms.html"><i class="fa fa-edit fa-fw"></i> <span>Forms</span></a>
</li>
<li>
    <a href="#"><i class="fa fa-wrench fa-fw"></i> <span>XXXXXXXX<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="panels-wells.html"><span>xxxxxx</span></a>
        </li>
        <li>
            <a href="buttons.html"><span>xxxxxx</span></a>
        </li>
        <li>
            <a href="#UIElements/notifications"><span>xxxxxx</span></a>
        </li>
        <li>
            <a href="typography.html"><span>xxxxxx</span></a>
        </li>
        <li>
            <a href="icons.html"> <span>Icons</span></a>
        </li>
        <li>
            <a href="grid.html"><span>xxxxxx</span></a>
        </li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-sitemap fa-fw"></i> <span>XXXXXXXX<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#"><span>xxxxxx</span></a>
        </li>
        <li>
            <a href="#"><span>xxxxxx</span></a>
        </li>
        <li>
            <a href="#"><span>xxxxxx</span></a>
            <ul class="nav nav-third-level">
                <li>
                    <a href="#"><span>xxxxxx</span></a>
                </li>
                <li>
                    <a href="#"><span>xxxxxx</span></a>
                </li>
                <li>
                    <a href="#"><span>xxxxxx</span></a>
                </li>
                <li>
                    <a href="#"><span>xxxxxx</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-files-o fa-fw"></i> <span>XXXXXXXX<i class="fa arrow"></i></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="blank.html"><span>xxxxxx</span></a>
        </li>
        <li>
            <a href="login.html"><span>xxxxxx</span></a>
        </li>
    </ul>
</li>
 


