init|&|
<div class="panel panel-default">
    <div class="panel-body an-sc-bo">

        <div class="btn-group custom-form-group">
            <button type="button" class="btn btn-default btn-sm" id="add">添加</button>
        </div>

        <!--<div class="form-inline pull-right">-->
            <!--<div class="form-group">-->
                <!--<div class="input-group">-->
                    <!--<input type="text" class="form-control input-sm" name="search" placeholder="">-->
                <!--</div>-->
            <!--</div>-->
            <!--<button type="button" class="btn btn-primary btn-sm" id="search">搜索</button>-->
            <!--<button type="button" class="btn btn-info btn-sm" id="clear-search">清空</button>-->
            <!--<button type="button" class="btn btn-success btn-sm" id="refresh-list">刷新</button>-->
        <!--</div>-->

    </div>
</div>
<div id="list"></div>
||&&||
buttons|&|
<div class="input-group">
    <div class="input-group-btn">
        <button type="button" class="btn btn-defult btn-outline btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-gear fa-fw"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-buttons">
            <li><button type="button" class="btn btn-primary btn-xs" data-id="edit" title="修改" >修改</button></li>
            <li><button type="button" class="btn btn-danger btn-xs" data-id="delete" title="删除" >删除</button></li>
        </ul>
    </div>
</div>