init|&|
<div class="panel panel-default">
    <div class="panel-body an-sc-bo">

        <div class="btn-group custom-form-group">
            <button type="button" class="btn btn-default btn-sm" id="add">添加</button>
        </div>

        <span id="task-group-dropdown"></span>

        <div class="form-inline pull-right">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" name="search" placeholder="任务名称">
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-sm" id="search">搜索</button>
            <button type="button" class="btn btn-info btn-sm" id="clear-search">清空</button>
            <button type="button" class="btn btn-success btn-sm" id="refresh-list">刷新</button>
        </div>

    </div>
</div>
<div id="list"></div>
||&&||
buttons|&|
<div class="input-group">
    <div class="input-group-btn">
        <button type="button" class="btn btn-defult btn-outline btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-gear fa-fw"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-buttons">
            <% if(status == 1) { %>
            <li><button type="button" class="btn btn-danger btn-xs" data-id="patch" data-data='{"status":0}' title="停用" >停用</button></li>
            <% } else { %>
            <li><button type="button" class="btn btn-success btn-xs" data-id="patch" data-data='{"status":1}' title="启用" >启用</button></li>
            <% } %>
<!--            <li><button type="button" class="btn btn-primary btn-xs" data-id="test" title="测试" >测试</button></li>-->
            <li><button type="button" class="btn btn-primary btn-xs" data-id="copy" title="拷贝" >拷贝</button></li>            
            <li><button type="button" class="btn btn-primary btn-xs" data-id="edit" title="修改" >修改</button></li>
        </ul>
    </div>
</div>
||&&||
taskGroupDropdown|&|
<div class="btn-group">
  <button type="button" class="btn btn-default btn-sm" task-group-id="0">全部分组</button>
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <% for(var i in list) { %>
        <li><a  task-group-id="<%= list[i].id %>" href="javascript:void(0)"><%= list[i].group_name %></a></li>
    <% } %>
  </ul>
</div>